_BASE_: "../../Base-RCNN-C4-OWOD.yaml"
MODEL:
  WEIGHTS: "detectron2://ImageNetPretrained/MSRA/R-50.pkl"
#  WEIGHTS: "https://dl.fbaipublicfiles.com/detectron/ImageNetPretrained/MSRA/R-50.pkl"
DATASETS:
  TRAIN: ('t1_voc_coco_2007_train', ) # t1_voc_coco_2007_train, t1_voc_coco_2007_ft
  TEST: ('voc_coco_2007_test', 't1_voc_coco_2007_known_test')   # voc_coco_2007_test, t1_voc_coco_2007_test, t1_voc_coco_2007_val
SOLVER:
#  STEPS: (12000, 16000)
  STEPS: (24000, 32000)
  MAX_ITER: 36000
  WARMUP_ITERS: 200
#  MAX_ITER: 18000
#  WARMUP_ITERS: 100
OUTPUT_DIR: "./output/t1"
OWOD:
  PREV_INTRODUCED_CLS: 0
  CUR_INTRODUCED_CLS: 20
#  KEY_NUM: 10
#  KEY_DIM: 50
  CLUSTERING:
    ITEMS_PER_CLASS: 20
    START_ITER: 2000
    UPDATE_MU_ITER: 6000
    MOMENTUM: 0.99
    Z_DIMENSION: 128



